@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Grand9K Pixel";
  src: url("./fonts/Grand9K Pixel.ttf") format("truetype");
  /* replace 'grand9k-pixel.ttf' with the actual file name and format */
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Grand9K Pixel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
  color: #fff9eb;
}
.font-clash {
  font-family: "Clash Grotesk", sans-serif;
}
.clash-700 {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 700;
}
.clash-600 {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 600;
}
/* Primary  Button Customized */

.pixel2,
.blueBtn,
.childBlueBtn,
.greenBtn,
.childGreenBtn,
.childBtnSecondary,
.SecondaryPixelBtn,
.childBtn {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "VT323";

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.childBtn:active,
.childBlueBtn:active,
.childGreenBtn:active,
.blueBtn:active,
.greenBtn:active,
.SecondaryPixelBtn:active,
.childBtnSecondary:active,
.pixel2:active {
  top: 2px;
}

.pixel2,
.blueBtn,
.childGreenBtn,
.childBtnSecondary,
.SecondaryPixelBtn,
.greenBtn,
.childBlueBtn,
.childBtn {
  position: relative;
  display: block;
  margin: 4px;
  font-family: "VT323";
  font-size: 28px;
  text-transform: uppercase;

  color: white;
}
@media only screen and (max-width: 600px) {
  .pixel2,
  .blueBtn,
  .childBtnSecondary,
  .childBlueBtn,
  .childGreenBtn,
  .greenBtn,
  .SecondaryPixelBtn,
  .childBtn {
    font-size: 19px;
  }
}
@media only screen and (max-width: 400px) {
  .pixel2,
  .blueBtn,
  .childBtnSecondary,
  .greenBtn,
  .SecondaryPixelBtn,
  .childGreenBtn,
  .childBlueBtn,
  .childBtn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 300px) {
  .pixel2,
  .blueBtn,
  .childBlueBtn,
  .greenBtn,
  .childGreenBtn,
  .childBtnSecondary,
  .SecondaryPixelBtn,
  .childBtn {
    font-size: 10px;
  }
}

.pixel2::before,
.blueBtn::before,
.greenBtn::before,
.childGreenBtn::before,
.childBlueBtn::before,
.SecondaryPixelBtn::before,
.childBtnSecondary::before,
.childBtn::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  z-index: -1;
}

.pixel2::after,
.blueBtn::after,
.greenBtn::after,
.childGreenBtn::after,
.childBlueBtn::after,
.SecondaryPixelBtn::after,
.childBtnSecondary::after,
.childBtn::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  z-index: -1;
}

.pixel2,
.childBlueBtn,
.blueBtn,
.greenBtn,
.childBtnSecondary,
.childGreenBtn,
.SecondaryPixelBtn,
.childBtn {
  position: relative;
  width: auto;
  z-index: 2;
}
.pixel2 {
  background-color: #aaaaaa;
}
.pixel2::after {
  background-color: #aaaaaa;
}
.pixel2::before {
  background-color: #aaaaaa;
}
.SecondaryPixelBtn,
.blueBtn,
.greenBtn {
  background-color: #fff;
}
.SecondaryPixelBtn::after,
.blueBtn::after,
.greenBtn::after {
  background-color: #fff;
}
.SecondaryPixelBtn::before,
.blueBtn::before,
.greenBtn::before {
  background-color: #fff;
}

.childBtn {
  background-color: #d40000;
}
.childBtn::after {
  background-color: #d40000;
}
.childBtn::before {
  background-color: #d40000;
}
.childBlueBtn {
  background-color: #2461ff;
}
.childBlueBtn::after {
  background-color: #2461ff;
}
.childBlueBtn::before {
  background-color: #2461ff;
}
.childBtnSecondary {
  background-color: #111111;
}
.childBtnSecondary::after {
  background-color: #111111;
}
.childBtnSecondary::before {
  background-color: #111111;
}

.childGreenBtn {
  background-color: #1cb219;
}
.childGreenBtn::after {
  background-color: #1cb219;
}
.childGreenBtn::before {
  background-color: #1cb219;
}
.appleStore {
  background: #a6a6a6;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d40000;
  border-radius: 10px;
}
body.modal-open {
  overflow: hidden;
}
